/*Background*/
body {
    background-color: rgb(56, 40, 20);
}

/*Navigation Bar*/
.navigationbar {
    background: transparent;
    padding: 10px;
    text-align: right;
    width: 95%;
    display: flex;
    flex-direction: row-reverse;
    /*Lo pone a la derecha*/
    position: absolute;
    /*Se superpone a la imagen*/

}

.navright {
    color: white;
    margin-right: 15px;
    font-family: Arial;
    display: flex;
    /*Elementos aparecen seguidos*/
    gap: 20px;
}

/*Background*/
.titlefoto {
    width: 100%;
    height: 10vh;
    
    background-size: 100%;
    background-position: 100%;
}

.titlefoto h1 {
    position: absolute;
    color: white;
    top: 37%;
    left: 25%;
    font-size: 130px;
    margin: 0;
    /* Elimina márgenes por defecto */
}


/*Buttons*/
.navbutton {
    display: flex;
    gap: 20px;
    /* Espacio entre botones */
}

button {
    padding: 15px 30px;
    border: 0;
    border-radius: 100px;
    background-color: black;
    color: whitesmoke;
    font-weight: Bold;
    transition: all 0.5s;
    font-size: 15px;
    max-height: 10vh;
    image-resolution: 10vh 3vw;
}

button:hover {
    background-color: black;
    transform: scale(1.1);
    
}

button:active {
    background-color: black;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    transform: scale(0.98);
}

/* Estilo para el botón con icono de carrito     */
.add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-icon {
    width: 25px;
    height: 25  px;
}

/*Aqui van los css para la hamburguesa en si*/
main{
    flex: 1;
}

.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.contenedor-imagen img{
     max-width: 50vw;
     max-height: 50vh;
}

.contenedor-texto{
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.contenedor-texto p{
    color:white;
    font-size: 25px;
    text-align: center;
    
}
.contenedor-texto h1{
    color: white;
    font-size: 50px;
    text-align: center;
}

.inputs{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.cantidad{
    border-radius: 5px;
    width:4vw;
    height: 5vh;
    text-align: center;
    font-size: 20px;
    color:white;
    background-color: black;
}

@media (max-width:720px) {
    .contenedor{
        display:flex;
        flex-direction: column;
    }
    .contenedor-texto{
        width: 90%;
    }
    .inputs{
        margin-bottom: 20px;
    }
}