
.container {
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    color: #e74c3c;
    margin-bottom: 16px;
  }
  

  
  a {
    display: inline-block;
    padding: 10px 18px;
    background-color: #dd9c47;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  a:hover {
    background-color: #d57b05;
  } 
   p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }




  @media (min-width: 769px) {
    .container {
      padding: 40px 30px;
      max-width: 500px;
    }
  
    h1 {
      font-size: 48px;
    }
  
    p {
      font-size: 18px;
    }
  }