/* Reset de estilos genérico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button,
input,
textarea,
select {
    font-family: inherit;
    outline: none;
    border: none;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/*Background*/
body {

    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #121212;
    color: #f5f5f5;
}

.title {
    font-size: 47px;
    color: white;
    position: absolute;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 20%;
}

/*OFFERS--------------------------------------------------------------------------------------*/
.title-offers {
    font-size: 40px;
    color: white;
    text-align: center;
    margin: 5%;
    padding: 5%;
}



.job {
    margin-bottom: 3%;
    border-radius: 10px;
    overflow: hidden;
    margin: 2%
}


.job-title {
    background-color: #BF3131;
    padding: 5%;
    transition: background-color 0.3s;
    cursor: pointer;
    text-align: center;
}


.job-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #BF3131;
    padding: 0 15px;

}

.job-details h4 {
    text-align: left;
    margin-bottom: 3%;
    margin-top: 5%;
    font-size: 20px;
}

.job-details p {
    text-align: justify;
    display: flex;
    margin: 3%
}


.job-details.active {
    max-height: max-content;
    padding: 15px;

}

.title-details {
    margin: 1%;
    text-align: left;
}



/*FORM CV------------------------------------------------------------------*/
.upload-form {
    margin: 5%;
    padding-top: 15px;
    border-top: 1px dashed #ccc;
}

.upload-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.upload-form input[type="file"] {
    margin-bottom: 10px;
    width: 100%;
}

.upload-form button {
    background-color: #ff5722;
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
}

.upload-form button:hover {
    background-color: #e64a19;
}

/*BENEFITS-----------------------------------------------------------------------------------------*/

.benefits-title {
    text-align: center;
    justify-content: center;
    padding: 10%;
    margin-bottom: 5%;
    margin-top: 10%;
}


.benefits {
    background-color: #BF3131;
    color: white;
    padding: 1%;
    border-radius: 15px;
    margin: 4%
}


.benefits-section {
    padding: 60px 0;
    position: relative;
}

.benefits-title {
    text-align: center;
    margin-bottom: 40px;
    padding: 0 20px;
}



.benefits {
    background: #BF3131;
    color: white;
    border-radius: 12px;
    margin: 0 auto;
    padding: 30px 20px;
    width: 90%;
}

.container-benefits {
    display: grid;
    grid-template-columns: 1fr;
    /*Una columna*/
    gap: 20px;
}

.benefit-item {
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    margin-bottom: 10%;
}

.benefit-item h3 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #EAD196;
    border-bottom: 2px solid rgba(234, 209, 150, 0.3);
    padding-bottom: 8px;
}

.benefit-item ul {
    padding-left: 5px;
    list-style: none;
}

.benefit-item li {
    margin-bottom: 12px;
    position: relative;
    padding-left: 25px;
    /* Espacio ajustado */
    font-size: 15px;
    /* Tamaño ligeramente menor */
    line-height: 1.5;
}

.benefit-item li:before {
    content: "✓";
    color: #EAD196;
    position: absolute;
    left: 5px;
    /* Posición ajustada */
    font-weight: bold;
    font-size: 16px;
}



/*Testimonies-----------------------------------------------------------*/
.testimonies-introduction {
    text-align: center;
    margin: 5%;
    padding: 5%;
    margin-top: 10%;
}

.testimonies {
    background-color: #BF3131;
    color: white;
    margin: 5%;
    border-radius: 15px;
    padding: 5%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.review {
    font-size: 13px;
    margin: 15px;
}

.review h3 {
    display: flex;
    text-align: center;
}

.review h2 {
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    margin-top: 15px;
}



/*------------------------------Estilos para escritorio--------------------------------------------------------------------------------*/

@media (min-width: 1024px) {

    .title {
        font-size: 150px;

    }

    .image-title {
        width: 100%;
    }

    /*OFFERS--------------------------------------------------------------------------------------*/
    .section-job-offers {
        max-width: 70%;
        margin: 0 auto;
        padding: 40px 20px;
        margin-bottom: -20%;
    }

    .title-offers {
        font-size: 60px;
        margin-bottom: 20px;
    }

    .job-offers {
        width: 90%;
        margin: 0 auto;
    }

    .job {
        margin-bottom: 5%;
        transition: transform 0.3s;
    }

    .job:hover {
        transform: translateY(-5px);
        /* Efecto sutil al pasar el ratón */
    }

    .job-title {
        padding: 20px;
        font-size: 30px;
        text-align: left;
        padding-left: 40px;

    }


    .job-details {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
    }

    .job-details.active {
        max-height: 2000px;

    }



    /*BENEFITS-----------------------------------------------------------------------------------------*/

    .benefits-section {
        padding: 0%;
    }

    .benefits-title h1 {
        font-size: 60px;
        text-align: center;
        justify-content: center;
        margin: 4%;
        margin-top: 20%;
        margin-bottom: -1%;
    }

    .benefits-title h4 {
        font-size: 40px;
        text-align: center;
        justify-content: center;
        margin-bottom: 20%;
    }

    .benefits {
        color: white;
        border-radius: 20px;
        margin-bottom: 10%;
        margin-top: -10%;
        padding: 60px 40px;
        width: 90%;
        overflow: hidden;
    }


    .container-benefits {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 40px;
        text-align: left;
    }

    .benefit-item {
        padding: 15px;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.1);
        transition: all 0.3s ease;
    }

    .benefit-item:hover {
        transform: translateY(-5px);
        background-color: rgba(255, 255, 255, 0.15);
    }

    .benefit-item h3 {
        font-size: 24px;
        font-weight: 600;
        color: #EAD196;
        border-bottom: 2px solid rgba(234, 209, 150, 0.3);
    }


    .benefit-item li {
        position: relative;
        padding-left: 28px;
        font-size: 16px;
        line-height: 1.5;
    }

    .benefit-item li:before {
        content: "✓";
        color: #EAD196;
        position: absolute;
        left: 0;
        font-weight: bold;
        font-size: 18px;
    }

    /*Testimonies-----------------------------------------------------------*/
    .testimonies-introduction {
        text-align: center;
        margin: 5%;
        padding: 5%;
        margin-top: 10%;
    }

    .testimonies-introduction h1 {
        font-size: 60px;
        text-align: center;
        justify-content: center;
        margin: 4%;
        margin-top: -8%;
    }

    .testimonies-introduction h4 {
        font-size: 40px;
        margin: -3%;
        text-align: center;
        justify-content: center;
    }

    .testimonies {
        background-color: #BF3131;
        color: white;
        margin: 5%;
        border-radius: 15px;
        padding: 3%;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .review {
        font-size: 20px;
        margin: 15px;    
    }

    .review h3 {
        display: flex;
        text-align: center;
    
    }

    .review h2 {
        display: flex;
        justify-content: flex-end;
        font-size: 20px;
        margin-top: 4%;
    }

}