.form-container{
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;
}

.form-elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
    width: 50vw;
}

.input{
    margin: 2%;
    display: flex;
    justify-content: center;
    width:50%;
    
}

.input input{
    text-align: left;
    padding-left: 7px;
    border-radius: 10px;
    height: 35px;
    width: 100%;
    color: white;
    background-color: rgb(41, 41, 41);
    
}

.input input::placeholder{
    color: rgba(233, 233, 233, 0.384);
}



.number-region {
    width: 20%;
    margin-right: 15px;
    
}

.number-phone{
    width: 60%;
    
}

.confirm {
    width: 30%;
    display: flex;
    justify-content: center;
    height:7%;
}
