body{
    background-color: #B1C29E;
}

/*Here starts the CSS for the products*/
.general-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 0 2vw;
    margin-top: 3vh;
}


/*CSS to control how they are shown*/
.products{
    align-items: center;
    display: flex;
    gap: 2vh;
    flex-direction: column;
    
}
/*CSS for the image*/
.product-image img{
    width: 25vh;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}
/*for the name*/
.product-name{
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}
/*CSS for every div inside the details*/
.product-details *{
    margin:5px;
}



.product-details{
    background-color: rgba(0, 0, 0, 0.3);
    flex-direction: column;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    gap: 5px;
    color: white;
    width:40vw;
    text-align: center;
    
}

/*CSS for the amount of hamburguers*/
.product-cuantity{
    color:white;
    font-size: 2.5vh;
}

/*CSS for the price in total for the product*/
.product-price{
    color:white;
    font-size: 2.5vh;
}
/*CSS to control the place where the cuantity and price are*/
.product-numbers{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
}


/*CSS to control the button to decrease*/

.product-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 50px;
    padding: 20px;
    margin:10px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
    
    width: 6vh;
    height: 6vh;
    max-width: 60px;
    border-radius: 50%; 
    background-color: rgb(255, 128, 0);
    
    border: 1px solid rgb(189, 63, 17);
}


.product-button button p{
display: flex;

align-self: center;
font-size: 6vh;
    text-align: center;
    color: aliceblue; 
    font-weight: bold;
}

.product-button button:hover {
    transform: scale(1.1);
    background-color: #BF3131;
    cursor: pointer;
}




/*CSS to control how it is controlled*/
.product{
    background-color: rgba(0, 0, 0, 0.15);
    align-items: center;
    gap: 16px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
}

/*CSS to controll the final row*/
.final{
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-bottom: 3vh;
}


/*CSS for the button*/
.final-button-confirm-cart button{
    display: flex;
   padding:10px;
   border-radius:12px;
    background-color: rgb(255, 128, 0);
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    color: aliceblue;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid rgb(189, 63, 17);
    font-size: 3vh;
  
}

.final-button-confirm-cart button:hover{
    scale: 1.1;
    transition: 1s;
    background-color:#7D0A0A;
}






/*CSS for the total price*/
.total-price{
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration-line: underline;
    color:#7D0A0A;
}




@media (max-width: 768px) {
    .product {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 80vw;
        gap: 12px;
        padding: 12px;
    }



    .products{
        gap:3vh;
    }



.product-button{
    display: flex;
    justify-content: space-around;
}

    .product-image img {
        width: 50vw;
        max-width: 200px;
        height: auto;
    }

    .product-details {
        width: 100%;
        padding: 12px;
    }

    .product-name {
        font-size: 18px;
    }


    .product-cuantity
     {
        font-size: 16px;
    }


    .product-price {
        font-size: 16px;
    }



    .product-button {
        display: flex;
        justify-content: center;

    }

 

}