/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  ul, ol {
    list-style: none;
  }


  a {
    text-decoration: none;
    color: inherit;
  }

/*Background*/
body {
    display: flex;
    margin: 0;
    background-color: #1A1A1A;
}



/*Header*/
header {
    width: 100%;
    height: 80px;
    background: black;
    display: flex;
    padding: 0 20px;
    position: fixed;

}

/*Main*/
.meet_us {
    position:absolute;
    margin-top: 200px;
    font-size: 35px;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.image_about_us {
    margin-top: 80px;
    width: 100%;
}

/*Main - Introduction*/
.introduction h3{
    font-size: 17px;
    color: white;
    text-align: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
}

/*Main - Our History*/
.our_history h2{
    margin-top: 30px;
    font-size: 50px;
    color: white;
   text-align: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.our_history h3{
    font-size: 17px;
    color: white;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 20px;
}

.image_our_history{
    margin-top: 20px;
    width: 100%;
}

.collage h2{
    margin-top: 30px;
    font-size: 50px;
    color: white;
   text-align: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.collage {
    margin-top: 20px;
    width: 100%;
}
/*Footer*/
