/*Text Box*/
.main-textbox {
    flex: 1;/* Ocupa todo el espacio disponible */
    background-color: #1A1A1A;
    color: white;
    text-align: center;
    padding: 10px;
    max-width: 100%; /* Ancho del cuadro */
}

.main-textbox h2 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #F5A623;
}

.main-textbox p {
    font-size: 25px;
}




/*FOOTER*/
.footer {
    width: 100%;
    padding: 20px 0;
    margin-top: auto; /* Empuja el footer hacia abajo */
   
}

.footer-content {
    display: flex;
}

.footer-textbox {
    background-color: #121212 ;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    /*Lo pone a la derecha =)*/
}

.footer-schedule {
    color: white;
    padding-right: 15px;  /*Agregamos espacio a la derecha del texto*/
}

.footer-info {
    padding-left: 50px;
    color: white;
    padding-right: 20px; /*Agregamos espacio a la derecha del texto*/
}

.footer-privacy{
    text-align: center;
    color: white;
    background-color: #121212;
    display: flex;
    justify-content: center;
    gap: 20px;
}