body{
    background-color: #B1C29E;
}

/*The div that contains everything*/
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*CSS to show the name*/
.userIntroduction{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

/*CSS to show the options for the user*/
.options{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:2vw;
    margin: 0;
    margin-top:5vh;
    padding-bottom: 1vh;
    border-bottom:1px solid ;
    width: 80%;

}

.option{
    color: #4b4b4b;
    padding: 4px;
}

.selected{
    padding-bottom: 1vh;
    border-bottom: 2px solid #EEEEEE;
}


.content{
    padding:2vh;
}

/*To see the user data*/
.user-data-container{
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 30vh;
}


/*To see the orders*/

.orders-data-container{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
}



table, th, td{
    border-top: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    text-align: center;    
    padding: 5vh;
}

.orders-data-container table{
    width: 90%;
}





@media (max-width:720px) {
    table, th,td{
        max-width: 320px;
        padding: 0px;
        padding-top:5px;
    }
}