body{
    background-color: #B1C29E;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userIntroduction{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

.options{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:2vw;
    margin: 0;
    margin-top:5vh;
    padding-bottom: 1vh;
    border-bottom:1px solid ;
    width: 80%;

}

.option{
    color: #4b4b4b;
    padding: 4px;
}

.selected{
    padding-bottom: 1vh;
    border-bottom: 2px solid #EEEEEE;
}


.content{
    padding:2vh;
}

.user-data-container{
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 30vh;
}

.orders-data-container{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

tr{
    border: 1px solid rgb(255, 255, 255);
}

th, td{
    
    text-align: center;    
    padding: 5px;
}

.orders-data-container table{
    width: 90%;
    
    
}